# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-64
fredapi==0.5.0
investpy==1.0.8
streamlit==1.10.0
plotly==5.8.0
matplotlib==3.5.1
pandas==1.4.2
lightgbm==3.3.2